*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 10px;
    overflow-x: hidden;
}

/*#######################################################################
nav section
#######################################################################*/
nav{
    width: 100vw;
    height: 8rem;
    position: sticky;
    top:0px;
    left:0px;
    z-index: 10000000;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    background-color: white;
}
nav img{
    width: auto;
    height: 80%;
    margin-left: 8rem;
}
nav h3{
    font-size: 3rem;
    margin-left: 2rem;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
}

/*#######################################################################
search bar
#######################################################################*/
.search{
    width: 100vw;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search #search-bar{
    width: 80%;
    height: 4rem;
    border-radius: 2rem;
    padding-left: 2rem;
    box-sizing: border-box;
    border:1px solid gray;
}
.search button{
    width: 4rem;
    height: 4rem;
    position: relative;
    left:-4rem;
    background-color: #6496EB;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}
.search img{
    width: 80%;
    height: 80%;
}
/*#######################################################################
main
#######################################################################*/
main{
    width: 100vw;
    min-height: calc(85vh - 8rem);
}
.track-result{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(40rem,1fr));
    grid-gap:3rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
}
.profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    border-radius: 3rem;
    box-shadow: 0.5rem 0.5rem 3px gray;
    overflow: hidden;
    cursor: pointer;
}
.profile img{
    height: 20rem;
    width: auto;
}
.profile div{
    margin-left: 1rem;
}
.profile h2{
    font-family: monospace;
    color: gray;
    font-weight: 300;
    margin-top: 1rem;
}
.profile h2:nth-child(1){
    color: black;
}

.unactive{
    display: none;
} 
/*#######################################################################
footer section
#######################################################################*/
footer{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .foot-cont{
    width: 90%;
    margin: 2rem 0px;
}
footer .foot-cont h3{
    font-size: 2rem;
    text-transform: capitalize;
    margin-left: 2rem;
}
.foot-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.foot-link ul{
    width: 30rem;
    display: flex;
    justify-content: space-evenly;
}
.foot-link ul a:link,.foot-link ul a:visited{
    font-size: 1.5rem;
    color:black;
}
.foot-link ul a:hover,.foot-link ul a:active{
    color: blue;
}


/*#######################################################################
salary section
#######################################################################*/
.salary-list{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.salary-input input{
    box-sizing: border-box;
    width:20rem;
    height: 4rem;
    border-radius: 5px;
    border:1px solid gray;
    padding-left: 2rem;
    margin: 2rem 3rem;
}
.salary-input button{
    height: 4rem;
    width: 8rem;
    background-color: #6496EB;
    border:none;
    border-radius: 1rem;
    cursor: pointer;
}
.salary-unactive{
    display: none;
}
.expense{
    width:50rem;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.expense h2{
    font-size: 2rem;
    text-transform: capitalize;
    width: 20rem;
    min-height: 4rem;
    line-height: 4rem;
}
.expense p{
    font-size: 3rem;
}
.expense span{
    display: inline-block;
    width: 20rem;
    height: 4rem;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
}