*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 10px;
    overflow-y: hidden;
}

/*#######################################################################
nav section
#######################################################################*/
nav{
    width: 100vw;
    height: 8rem;
    position: sticky;
    top:0px;
    left:0px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}
nav img{
    width: auto;
    height: 80%;
    margin-left: 8rem;
}
nav h3{
    font-size: 3rem;
    margin-left: 2rem;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
}