*{
    padding: 0px;
    margin: 0px;
    font-family: monospace;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 10px;
    overflow-x: hidden;
}

/*#######################################################################
nav section
#######################################################################*/
nav{
    width: 100vw;
    height: 8rem;
    display: flex;
    align-items: center;
    position: sticky;
    top:0px;
    right: 0px;
    background-color: white;
    border-bottom: 1px solid black;
}
nav img{
    height: 80%;
    width: auto;
    margin-left: 8rem;
}
nav h1{
    font-size: 3rem;
    margin-left: 2rem;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
}
/*#######################################################################
login section
#######################################################################*/
.cont-bg{
    width: 100vw;
    height: calc(100vh - 8rem);
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.cont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}
.cont form{
    width: 45rem;
    height: 55rem;
    background-color: white;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont form input{
    box-sizing: border-box;
    width: 80%;
    height: 5rem;
    font-size: 2rem;
    padding-left: 2.5rem;
    border-radius: 2.5rem;
    margin-top: 2rem;
    border:1px solid gray;
}
.cont form h1{
    font-size: 6rem;
    text-transform: capitalize;
}
.cont form button{
    box-sizing: border-box;
    width: 80%;
    height: 5rem;
    font-size: 2rem;
    border-radius: 2.5rem;
    margin-top: 2rem;
    background-color: #6496EB;
    color: white;
    padding-left: 0px;
    border:none;
}
.error{
    height: 3rem;
    font-size: 1.5rem;
    color:red;
    margin-top: 1rem;
}
/*#######################################################################
footer section
#######################################################################*/
footer{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .foot-cont{
    width: 90%;
    margin: 2rem 0px;
}
footer .foot-cont h3{
    font-size: 2rem;
    text-transform: capitalize;
    margin-left: 2rem;
}
.foot-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.foot-link ul{
    width: 30rem;
    display: flex;
    justify-content: space-evenly;
}
.foot-link ul a:link,.foot-link ul a:visited{
    font-size: 1.5rem;
    color:black;
}
.foot-link ul a:hover,.foot-link ul a:active{
    color: blue;
}